.login-container {
  display: flex;
  height: 100vh;
  font-family: "Mukta", sans-serif;
  background: #f0f0f0;
}

.login-image {
  flex: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
}

.login-image img {
  max-width: 80%;
  height: auto;
}

.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: #ffffff;
  border-left: 1px solid #ddd;
}

h2 {
  margin-bottom: 20px;
  color: #333333;
  font-size: 54px;
  font-weight: 600;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #333333;
}

.input-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.input-group input.error {
  border-color: #d92525;
}

.input-group .error-message {
  color: #d92525;
  font-size: 14px;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.login-options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  color: white;
  background-color: #006940;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

button:hover {
  background-color: #004f2e;
  transform: scale(1.02);
}

p {
  text-align: center;
  color: #333333;
}

p a {
  color: #006940;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .login-container {
    flex-direction: column;
  }

  .login-image {
    flex: 1;
  }

  .login-form {
    padding: 20px;
  }
}
