.register-container {
  display: flex;
  height: 100vh;
  font-family: 'Mukta', sans-serif;
}

.register-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
}

.register-image img {
  max-width: 80%;
  height: auto;
}

.register-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: #f9f9f9;
  overflow-x: hidden;
  transition: transform 0.3s ease;
}

h2 {
  margin-bottom: 20px;
  color: #333333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.register-options {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.next-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #006940;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-button:hover {
  background-color: #004f2e;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #006940;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004f2e;
}

p {
  text-align: center;
  color: #333333;
}

p a {
  color: #d92525;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.step-indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.step-indicator {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.step-indicator.active {
  background-color: #006940;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-right: 2.5rem; /* Ajuste conforme necessário */
}

.password-toggle {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}
